link(rel='stylesheet', type='text/css', href='bower_components/materialize/dist/css/materialize.min.css')

block content

script(src='/public/bower_components/materialize/dist/js/materialize.min.js')
