extends partials/layout.pug
block content
		video#video(autoplay)
		script(src='//releases.flowplayer.org/6.0.5/flowplayer.min.js')
		script(src='//releases.flowplayer.org/hlsjs/flowplayer.hlsjs.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='main.js')


