extends partials/layout.pug
block content
	h1 Hello
	video#video(width='1280', height='800', autoplay='')
	script(src='//releases.flowplayer.org/6.0.5/flowplayer.min.js')
	script(src='//releases.flowplayer.org/hlsjs/flowplayer.hlsjs.min.js')
	script(src='/socket.io/socket.io.js')
	script(src='main.js')


