extends partials/layout.pug
block content
	.container
		h1 Nodesk
		.passwordForm(class="row")
			form(method='POST' class="col s12 card purple darken-4" id="passwordInput")
				.form-group
					input.form-control#password(
					type="password" 
					name="password"
					required
					class="col s4 offset-s4"
					)
				.passwordForm__submit
					input.btn.green.waves-light(type="submit" value="Connect" class= "col s4 offset-s4")




