extends partials/layout.pug
block content
	h1 index
	.passwordForm
		form(method='POST')
			.form-group
				label(for='password') Password
				input.form-control#password(
				placeholder="password" 
				type="password" 
				name="password"
				required
				)
			.passwordForm__submit
				input.btn(type="submit" value="click")




